{# Item details #}
{% import 'macros.twig' as scat %}

{% if product.items.find_many|length > 1 %}
  <h4>
    <a href="{{ url_for('catalog', item.product.url_params()) }}">
      <i class="lni lni-arrow-left"></i>
      Back to {{ product.name }}
    </a>
  </h4>
{% endif %}

<h1 class="page-header">
  {{ item.name }}
  <small>
    {% set brand = product.brand %}
    <a href="{{ url_for('catalog-brand', { 'brand' : brand.slug }) }}">
      {{ brand.name }}
    </a>
  </small>
</h1>

{% if product.brand.warning %}
  <div class="alert alert-danger">
    {{ product.brand.warning }}
  </div>
{% endif %}

<style>
.item-info {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: min-content auto;
  grid-gap: 2em;
  max-width: calc(1070px - 4em);
}
.item-info > .description {
  grid-column: 1 / 4;
}
figure {
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 1em 0;
  border: var(--border-width) solid #ddd;
  border-radius: var(--border-radius);
}
/* avoid spilling over border on corners */
figure img {
  border-radius: var(--border-radius);
}

@media (min-width: 600px) {
  .item-info {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }
  .item-info > .media {
    grid-row: 1 / 3;
  }
  .item-info > .description {
    grid-column: 2 / 4;
  }
}
</style>

<div class="item-info">
  <div class="media">
    {{ include('carousel.twig', { images: item.media ?: product.media }) }}
    <div class="input-group" style="width: 100%">
      <label class="input-group-addon" for="code">
        Code
      </label>
      <p class="form-control form-control-static">
        {{ item.code }}
      </p>
    </div>
  </div>

  <div class="details">
    {% if item.sale_price != item.retail_price %}
      <h4 class="text-danger" style="margin: 0px">
        Save {{ "%.0f"|format((item.retail_price - item.sale_price) / item.retail_price * 100) }}% off list
      </h4>
    {% endif %}

    <h3>
      {{ scat.amount(item.sale_price) }}
      {% if item.sale_price != item.retail_price %}
        <small style="white-space: nowrap;">
          List Price {{ scat.amount(item.retail_price) }}
        </small>
      {% endif %}
    </h3>

    <div id="afterpay-clearpay-message"></div>

    {# if /*(CAN_SHIP || CAN_PICKUP) and */ (item.minimum_quantity or item.stocked) #}
    {% if (item.minimum_quantity or item.stocked) %}
      {% if item.stock > 0 %}
        <p class="text-success">In stock</p>
      {% else %}
        {% if item.minimum_quantity > 0 %}
          <p class="text-danger" data-toggle="tooltip" title="We normally stock this, but are out right now. We should have more soon!">Out of stock</p>
        {% else %}
          {% if item.no_backorder %}
            <p class="text-danger" data-toggle="tooltip" title="This item is currently unavailable.">Unavailable</p>
          {% else %}
            <p data-toggle="tooltip" title="We don't normally stock this, but we can get it for you!">Out of stock, special order</p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% else %}
      {# if /*not (CAN_SHIP || CAN_PICKUP) and CAN_DROPSHIP */ and item.is_dropshippable #}
      {% if item.is_dropshippable %}
        <p class="text-warning" data-toggle="tooltip" title="Sorry, we don't have live stock information for items that are drop-shipped.">Maybe</p>
      {% else %}
        {% if item.no_backorder %}
          <p data-toggle="tooltip" class="text-danger" title="This item is currently unavailable.">Unavailable</p>
        {% else %}
          {% if item.dropship_fee > 0 %}
            <span data-toggle="tooltip" title="This item will be shipped directly to you.">Shipped direct</span>
          {% else %}
            <span data-toggle="tooltip" title="We don't normally stock this, but we can get it for you!">Out of stock, special order</span>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}

    <p>
      <b>FREE</b> curbside pickup
      {% if shipping_options.local %}
        {% if shipping_options.local is same as(0) %}
          <b>FREE local delivery
        {% else %}
          <br>
          Local delivery starting at {{ scat.amount(shipping_options.local) }}
        {% endif %}
      {% endif %}
      {% if item.oversized %}
        <br><span class="text-warning">Shipping not available</span>
      {% endif %}
      {% if shipping_options.shipping is defined and not shipping_options.shipping is same as(false) %}
        {% if shipping_options.shipping == 0 %}
          {% if item.dropship_fee > 0 %}
            <br>Shipped direct for {{ scat.amount(item.dropship_fee) }}/order
          {% else %}
            <br><b>FREE</b> Nationwide shipping
          {% endif %}
        {% else %}
          <br>
          Nationwide shipping starting at {{ scat.amount(shipping_options.shipping) }}
          {% if item.dropship_fee > 0 %}
            plus a {{ scat.amount(item.dropship_fee) }}/order dropship fee.
          {% endif%}
          <br>
          {% if item.no_free_shipping or item.dropship_fee %}
            <span class="text-warning">This item is not eligible for free shipping.</span>
          {% else %}
            <span class="text-success">FREE shipping with order over $79.</span>
          {% endif %}
        {% endif %}
      {% endif %}
    </p>
  </div>

  <div class="order">
    {% if 1 %}
    {# <check if="@FEATURE_cart && @CAN_ORDER && (((@CAN_PICKUP || @CAN_SHIP) && (@item.stock || !@item.no_backorder)) || (@CAN_DROPSHIP && @item.is_dropshippable && !@item.no_backorder))"> #}
      <form class="form-inline add-item"
            action="/cart/add-item" method="POST">
        <input type="hidden" name="item" value="{{ item.code }}">
        <input type="hidden" name="name" value="{{ item.name }}">
        <input type="hidden" name="sale_price"
               value="{{ item.sale_price }}">
        <label for="quantity">
          Quantity
        </label>
        <input type="text" class="input"
               id="quantity" name="quantity"
               value="{{ item.purchase_quantity }}">
        {% if item.purchase_quantity > 1 %}
          <span class="help-block">
            Must be multiple of {{ item.purchase_quantity }}.
          </span>
        {% endif %}
        <button type="submit" class="button block btn-lg">
          <i class="lni lni-circle-plus"></i>
          <span class="label">Add to Cart</span>
        </button>
      </form>
    {% else %}
      <button class="btn btn-block btn-lg btn-danger" disabled>
        Unavailable
      </button>
    {% endif %}
  </div>

  <div class="description">
    <hr>

    {{ item.description ?? product.description | markdown }}

    {% if item.prop65 %}
      <a class="pull-right" href="/proposition-65-warning" data-toggle="tooltip" title="WARNING: This product can expose you to chemicals which are known to the state of California to cause cancer and/or to cause birth defects or other reproductive harm. Click for more details."><img src="/static/msds/warning.svg" width="20" alt="WARNING"></a>
    {% endif %}
    {% if item.hazmat %}
      <a class="pull-right" href="/shipping#hazmat" data-toggle="tooltip" title="Hazardous materials: special shipping is required, and there may be additional costs. Click for more details."><img src="/static/msds/dot-limited-quantity-surface.svg" width="20" alt="Hazardous Materials"></a>
    {% endif %}
    {% if item.oversized %}
      <a class="pull-right" href="/shipping#oversized" data-toggle="tooltip" title="Oversized item: special shipping is required, and there will be additional costs. Click for more details."><i class="lni lni-delivery"></i></a>
    {% endif %}
  </div>
</div>
