{% import 'macros.twig' as scat %}
{% import _self as s %}

{% macro style_item_color(color) %}
  {% if color %}
    {% set r= color[:2]|hexdec %}
    {% set g= color[2:2]|hexdec %}
    {% set b= color[4:2]|hexdec %}
    background: #{{ color }};
    color: #{{ ((r * 0.2126 + g * 0.7152 + b * 0.0722) > 179) ? '000' : 'fff' }}
  {% endif %}
{% endmacro %}

<tr data-id="{{ i.id }}"
    data-stocked="{{ (i.stock or i.minimum_quantity) ? 1 : 0 }}"
    data-code="{{ i.code }}"
    class="{{ (item and item.id == i.id) ? 'info' }}
           {{ not i.active ? 'inactive' }}">
  <td>
    <a href="{{ url_for('catalog', i.url_params) }}">
      {{- i.code -}}
    </a><br>
  </td>
  <td class="description item-name" style="{{ s.style_item_color(i.color) }}">
    <span class="editable"
          data-pk="{{ i.code }}"
          data-name="name">
      {{- i.name -}}
    </span>
    {% if i.product_id %}
      <br>
      <small class="product-link text-muted">
        <a href="{{ url_for('catalog', { 'dept' : i.product.dept.parent.slug }) }}">
          {{ i.product.dept.parent.name }}
        </a>
        /
        <a href="{{ url_for('catalog', { 'dept' : i.product.dept.parent.slug, 'subdept' : i.product.dept.slug }) }}">
          {{ i.product.dept.name }}
        </a>
        /
        <a href="{{ url_for('catalog', { 'dept' : i.product.dept.parent.slug, 'subdept' : i.product.dept.slug, 'product' : i.product.slug }) }}">
          {{ i.product.name }}
        </a>
      </small>
    {% endif %}
  </td>
  <td class="description item-short-name" style="{{ s.style_item_color(i.color) }}">
    <span class="editable"
          data-pk="{{ i.code }}"
          data-name="short_name">
    {{- i.short_name -}}
  </td>
  <td class="text-right">
    {{ scat.amount(i.retail_price) }}
  </td>
  <td class="text-right">
    {% set override= i.override_price %}
    {% if override %}
      <span class="text-danger">
        {{ scat.amount(override) }}
        <div>
          <small>
            Override
          </small>
        </div>
      </span>
    {% else %}
      <strong class="text-important">{{ scat.amount(i.sale_price) }}</strong>
      {% if i.discount_type in [ 'percentage', 'relative' ] %}
        <div>
          <small>{{ scat.format_discount(i) }}</small>
        </div>
      {% endif %}
    {% endif %}
  </td>
  <td class="avail">
    {% if i.stock() %}
      <span class="text-important">In stock</span>
    {% else %}
      {% if i.minimum_quantity %}
        <span class="text-warning">Out of stock</span>
      {% else %}
        <span class="text-danger">Out of stock, special order</span>
      {% endif %}
    {% endif %}
  </td>
  <td>
    {% if i.prop65 %}
      <span title="{{ i.prop65_warning.warning }}"><img class="icon" src="{{ STATIC }}/msds/warning.svg" width="16" alt="WARNING"></span>
    {% endif %}
    {% if i.hazmat %}
      <span title="Hazardous materials: special shipping is required, and there may be additional costs."><img src="{{ STATIC }}/msds/dot-limited-quantity-surface.svg" class="icon" width="16" alt="Hazardous Materials"></span>
    {% endif %}
    {% if i.oversized %}
      <span title="Oversized item: special shipping is required, and there will be additional costs."><i class="bi bi-truck"></i></span>
    {% endif %}
  </td>
  <td class="text-right">
    {{ include('add-to-cart.twig', { item: i, fixed_quantity: true, button_size: 'small' }) }}
  </td>
</tr>
