{% import 'macros.twig' as scat %}
{% import _self as s %}

{% macro begin_table() %}
  <table>
    <thead>
      <th width="15%">Item&nbsp;No.</th>
      <th class="description">Description</th>
      <th width="8%">List</th>
      <th width="8%">Sale</th>
      <th width="10%" class="avail">In&nbsp;Stock</th>
      <th width="16">
        <span class="visually-hidden">Notices</span>
      </th>
      <th width="160">
        <span class="visually-hidden">Add to Cart</span>
      </th>
    </thead>
    <tbody>
{% endmacro %}
{% macro end_table() %}
    </tbody>
  </table>
{% endmacro %}

<div class="item-list">
  <style>
    .item-list .inactive a {
      color: #933;
    }
    /* Hidden by default */
    .item-list .item-select {
      display:none;
    }
    /* Show short name if we have variations or product, otherwise name */
    {% if variations|length or product %}
      .item-list .item-name { display: none; }
    {% else %}
      .item-list .item-short-name { display: none; }
    {% endif %}
    .item-list .item-select.visible {
      display:table-cell;
    }

    .item-list table {
      empty-cells: show;
      border-collapse: collapse;
      width: 100%;
      margin: 2em 0;
      table-layout: fixed;
      text-overflow: ellipsis;
    }
    .item-list thead {
      border-bottom: var(--border-width) solid #ddd;
    }
    .item-list td, .item-list th {
      padding: 0.5rem;
      vertical-align: top;
    }
    .item-list td.avail, .item-list th.avail {
      text-align: center;
    }
    .item-list td.avail {
      font-size: 80%;
    }
    .item-list th {
      text-align: left;
    }
    .item-list table tbody tr:nth-child(odd) {
      background: #f9f9f9;
    }
    .item-list table tbody tr {
      border-bottom: calc(var(--border-width) / 2) solid #ddd;
    }

    @media (max-width: 599.98px) {
      .item-list tr {
        display: grid;
        grid: auto-flow / 6em auto auto;
      }
      .item-list .description {
        grid-column-end: span 2;
      }
    }
  </style>

{# A little convoluted because we chunk by variation sometimes #}

{% set last_variation= -1 %}
{% set variation_count= 1 %}

{% if not variations|length %}
  {{ s.begin_table() }}
{% endif %}

{% for i in items %}
  {% if variations|length and i.variation is not same as (last_variation) %}
    {% if last_variation != -1 %}
      {{ s.end_table() }}
    {% endif %}
    {% set last_variation = i.variation %}
    {% if i.variation %}
      <h3><a name="v{{ variation_count }}">{{ i.variation }}</a></h3>
      {% set variation_count= variation_count + 1 %}
    {% endif %}
    {{ s.begin_table() }}
  {% endif %}
  {% include 'catalog/item-row.twig' %}
{% endfor %}
{{ s.end_table() }}
</div><!-- .item-list -->

<script>
  {% autoescape 'js' %}
    scat.ecommerce('Product List Viewed', {
      name: '{{ product.name }}',
      products: [
        {% for item in items %}
          {
            product_id: '{{ item.code }}',
            name: '{{ item.name }}',
            price: '{{ item.sale_price }}',
            currency: 'USD',
            brand: '{{ item.brand_name }}',
            category: '{{ item.category }}',
          },
        {% endfor %}
      ]
    })
  {% endautoescape %}
</script>
