{# Item details #}
{% import 'macros.twig' as scat %}

{% if product.items.find_many|length > 1 %}
  <h4>
    <a href="{{ url_for('catalog', item.product.url_params()) }}">
      <i class="bi bi-arrow-left"></i>
      Back to {{ product.name }}
    </a>
  </h4>
{% endif %}

<h1 class="page-header">
  {{ item.name }}
  <small>
    {% set brand = product.brand %}
    <a href="{{ url_for('catalog-brand', { 'brand' : brand.slug }) }}">
      {{ brand.name }}
    </a>
  </small>
</h1>

{% if product.brand.warning %}
  <div class="alert alert-danger">
    {{ product.brand.warning }}
  </div>
{% endif %}

<style>
.item-info {
  display: grid;
  grid-gap: 2em;
  max-width: calc(1070px - 4em);
  padding-bottom: 1em;
}
figure {
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 1em 0;
  border: var(--border-width) solid #ddd;
  border-radius: var(--border-radius);
}
/* avoid spilling over border on corners */
figure img {
  border-radius: var(--border-radius);
}

@media (max-width: 599.8px) {
  nav.breadcrumb {
    display: none;
  }
}

@media (min-width: 600px) {
  .item-info {
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: min-content auto;
  }
  .item-info > .media {
    grid-row: 1 / 3;
  }
  .item-info > .description {
    grid-column: 2 / 4;
  }
}
</style>

<div class="item-info">
  <div class="media">
    {{ include('carousel.twig', { images: item.media ?: product.media }) }}
    <div class="input-group block">
      <label for="code">
        Code
      </label>
      <div class="fake-input">
        {{ item.code }}
      </div>
    </div>
  </div>

  <div class="details">
    {% if item.sale_price != item.retail_price %}
      <h4 class="text-danger" style="margin: 0px">
        Save {{ "%.0f"|format((item.retail_price - item.sale_price) / item.retail_price * 100) }}% off list
      </h4>
    {% endif %}

    <h3>
      {{ scat.amount(item.sale_price) }}
      {% if item.sale_price != item.retail_price %}
        <small style="white-space: nowrap;">
          List Price {{ scat.amount(item.retail_price) }}
        </small>
      {% endif %}
    </h3>

    <div id="afterpay-clearpay-message"></div>

    {% if item.minimum_quantity or item.stock %}
      {% if item.stock > 0 %}
        <p class="text-success">In stock</p>
      {% else %}
        {% if item.minimum_quantity > 0 %}
          <p class="text-danger" data-toggle="tooltip" title="We normally stock this, but are out right now. We should have more soon!">Out of stock</p>
        {% else %}
          {% if item.no_backorder %}
            <p class="text-danger" data-toggle="tooltip" title="This item is currently unavailable.">Unavailable</p>
          {% else %}
            <p data-toggle="tooltip" title="We don't normally stock this, but we can get it for you!">Out of stock, special order</p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% else %}
      {% if item.no_backorder %}
        <p data-toggle="tooltip" class="text-danger" title="This item is currently unavailable.">Unavailable</p>
      {% else %}
        <span data-toggle="tooltip" title="We don't normally stock this, but we can get it for you!">Out of stock, special order</span>
      {% endif %}
    {% endif %}

    {% if item.stock or not item.no_backorder %}
      <p>
        <b>FREE</b> curbside pickup
        {% set local= item.estimate_local_delivery_rate() %}
        {% if local %}
          <br>
          Local delivery starting at {{ scat.amount(local) }}
        {% endif %}
        {% if item.oversized %}
          <br><span class="text-warning">Shipping not available</span>
        {% else %}
          {% set shipping= item.estimate_shipping_rate() %}
          {% if shipping is null %}
            <br><span class="text-danger">Unable to estimate shipping</span>
          {% else %}
            {% if item.can_ship_free and item.sale_price > 79 %}
              <br><b>FREE</b> nationwide shipping
            {% else %}
              <br>
              Nationwide shipping starting at
              {{ scat.amount(shipping) }}
            {% endif %}
            <br>
            {% if not item.can_ship_free %}
              <span class="text-warning">This item is not eligible for free shipping</span>
            {% else %}
              <span class="text-success"><b>FREE</b> shipping with order over $79</span>
            {% endif %}
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
  </div>

  <div class="order">
    {% if item.stock or not item.no_backorder %}
      <form class="form-inline add-item"
            action="/cart/add-item" method="POST">
        <input type="hidden" name="item" value="{{ item.code }}">
        <input type="hidden" name="name" value="{{ item.name }}">
        <input type="hidden" name="sale_price"
               value="{{ item.sale_price }}">
        <div class="input-group">
          <label for="quantity">
            Quantity
          </label>
          <input type="text" class="input"
                 id="quantity" name="quantity"
                 value="{{ item.purchase_quantity }}">
        </div>
        {% if item.purchase_quantity > 1 %}
          <span class="help-block">
            Must be multiple of {{ item.purchase_quantity }}.
          </span>
        {% endif %}
        <button type="submit" class="button block">
          <i class="bi bi-cart-plus"></i>
          <span class="label">Add to Cart</span>
        </button>
      </form>
    {% else %}
      <button class="button block" disabled>
        Unavailable
      </button>
    {% endif %}
  </div>

  <div class="description">
    <hr>

    {{ item.description ?? product.description | markdown }}

    {% if item.prop65 or item.hazmat or item.oversized %}
      <div class="alert alert-warning">
        {% if item.prop65 %}
          <p><a href="/proposition-65-warning"><img src="{{ STATIC }}/msds/warning.svg" width="16" alt="WARNING"> WARNING:</a> This product can expose you to chemicals which are known to the state of California to cause cancer and/or to cause birth defects or other reproductive harm.</p>
        {% endif %}
        {% if item.hazmat %}
          <p><a href="/shipping#hazmat"><img src="{{ STATIC }}/msds/dot-limited-quantity-surface.svg" width="16" alt="Hazardous Materials"> Hazardous materials:</a> special shipping is required, and there may be additional costs.</p>
        {% endif %}
        {% if item.oversized %}
          <p><a href="/shipping#oversized"><i class="bi bi-truck"></i> Oversized item:</a> special shipping is required, and there will be additional costs.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% block script %}
  <script>
    zaraz.ecommerce('Product Viewed', {
      product_id : '{{ item.code }}',
      category : '{{ dept.name ~ "/" ~ subdept.name }}',
      name : '{{ item.name }}',
      brand : '{{ product.brand.name }}',
      price : '{{ item.sale_price }}',
      currency : 'usd',
    })
  </script>
{% endblock %}
