{# Product details #}
<h1>
  {{ product.name }}
  <small>
    {% set brand = product.brand %}
    <a href="{{ url_for('catalog-brand', { 'brand' : brand.slug }) }}">
      {{ brand.name }}
    </a>
  </small>
</h1>

<hr>

<style>
.product-info {
  display: grid;
  grid-template-columns: 67% 33%;
  grid-gap: 2em;
  max-width: calc(1070px - 2em);
}
figure {
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 1em 0;
  border: var(--border-width) solid #ddd;
  border-radius: var(--border-radius);
}
/* avoid spilling over border on corners */
figure img {
  border-radius: var(--border-radius);
}

@media (max-width: 599.98px) {
  .product-info {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}
</style>

<div class="product-info">
  <div class="content">
    {{ product.description | replace({'{{ @STATIC }}' : STATIC}) | markdown }}

    {% if variations|length > 1 %}
      <h2>Jump to:</h2>
      <ul>
        {% for variation in variations %}
          <li>
            <a href="#v{{ loop.index }}">
              {{ variation }}
            </a>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="col-sm-4">
    {% set media = product.media %}
    {% if media is not empty %}
      {{ include('carousel.twig', { images: product.media }) }}
    {% endif %}
  </div>
</div>
