{% import 'macros.twig' as scat %}
<div class="panel panel-default">
  <div class="panel-heading">
    <p>
      <small>
        Created: {{ txn.created }}
      </small>
    </p>
    <p>
      <i class="fa fa-user-o fa-border"></i>
      {{ txn.person.name }}
      {% if txn.person.email %}
        &lt;{{ txn.person.email }}&gt;
      {% endif %}
      {% if txn.person.company %}
        <br>{{ txn.person.company }}
      {% endif %}
    </p>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Quantity</th>
        {% if txn.type == 'vendor' %}
          <th>SKU</th>
        {% endif %}
        <th>Code</th>
        <th>Name</th>
        <th class="text-right">Price</th>
        <th class="text-right">Ext</th>
      </tr>
    </thead>
    <tbody>
      {% for data in txn.items.find_many() %}
        {# hide lines with no code or price to avoid confusion #}
        {% if data.code != '' or data.sale_price > 0 %}
          <tr valign="top">
            <td></td>
            <td>{{ txn.type == 'vendor' ? data.ordered : -data.ordered }}</td>
            {% if txn.type == 'vendor' %}
              <td>{{ data.vendor_sku }}</td>
            {% endif %}
            <td><small>{{ data.code }}</small></td>
            <td>
              <span>{{ data.name }}</span>
              <div class="small">{{ data.pricing_detail }}</div>
            </td>
            <td class="text-right">{{ scat.amount(data.sale_price) }}</td>
            <td class="text-right">
              {{ scat.amount(data.sale_price * (txn.type == 'vendor' ? data.ordered : -data.ordered)) }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
    <tfoot>
      {% set span= txn.type == 'vendor' ? 6 : 5 %}
      <tr>
        <th colspan="{{ span }}" class="text-right">Subtotal:</th>
        <td class="text-right">{{ scat.amount(txn.subtotal) }}</td>
      </tr>
      <tr>
        <th colspan="{{ span }}" class="text-right">
          Tax:
        </th>
        <td class="text-right" id="tax">
          {{ scat.amount(txn.tax) }}
        </td>
      </tr>
      <tr>
        <th colspan="{{ span }}" class="text-right">Total:</th>
        <td class="text-right" id="total">
          {{ scat.amount(txn.total) }}
        </td>
      </tr>
      {% for data in txn.payments.find_many %}
        <tr>
          <th colspan="{{ span }}" class="text-right">
            {{ data.pretty_method }}
            ({{ data.processed }}):
          </th>
          <td class="text-right">{{ scat.amount(data.amount) }}</td>
        </tr>
      {% endfor %}
      <tr>
        <th colspan="{{ span }}" class="text-right">Due:</th>
        <td class="text-right">{{ scat.amount(txn.due) }}</td>
      </tr>
    </tfoot>
  </table>
</div>
