{% import 'macros.twig' as scat %}
{% import _self as s %}

{% macro begin_table() %}
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <th>Item No.</th>
      <th>Description</th>
      <th class="text-right">List</th>
      <th class="text-right">Sale</th>
      <th class="text-center">Stock</th>
      <th class="text-center">Minimum</th>
      <th class="text-center">Recent</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
{% endmacro %}
{% macro end_table() %}
    </tbody>
  </table>
{% endmacro %}

<style>
.inactive a {
  color: #933;
}
</style>

{# A little convoluted because we chunk by variation sometimes #}

{% set last_variation= -1 %}

{% if not variations|length %}
  {{ s.begin_table() }}
{% endif %}

{% for i in items %}
  {% if variations|length and i.variation is not same as (last_variation) %}
    {% if last_variation != -1 %}
      {{ s.end_table() }}
    {% endif %}
    {% set last_variation = i.variation %}
    {% if i.variation %}
      <h3>{{ i.variation }}</h3>
    {% endif %}
    {{ s.begin_table() }}
  {% endif %}
  {% include 'catalog/item-row.twig' %}
{% endfor %}
{{ s.end_table() }}
