<style type="text/css">
  .product-thumbnail {
    position: relative;
    width: 100%;
    border: none;
  }
  .product-thumbnail:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .product-thumbnail a {
    margin: 0; padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .product-thumbnail a img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
</style>
{% for p in products %}
  {% set slug = url_for('catalog') ~ '/' ~ p.full_slug %}
  <div class="row">
    <div class="col-sm-2">
      <div class="thumbnail product-thumbnail">
        <a href="{{ slug }}">
          {% set media = p.media %}
          {% if media is not empty %}
            <img class="media-object"
                 src="{{ media[0].thumbnail }}"
                 alt="{{ media[0].alt_text }}">
          {% endif %}
        </a>
      </div>
    </div>
    <div class="col-sm-10">
      <h4 class="media-heading">
        <a href="{{ slug }}">
          {{- p.name -}}
        </a>
        {% set brand = p.brand %}
        <small>
          <a href="{{ url_for('catalog-brand', { 'brand': brand.slug }) }}">
            {{- brand.name -}}
          </a>
        </small>
        {% if not p.stocked %}
          <small class="pull-right">
            <i class="fa fa-globe"></i> Special Order Only
          </small>
        {% endif %}
      </h4>
      {# Just extract the first paragraph #}
      {% set paragraphs= p.description|markdown|split('</p>', 2) %}
      {% set firstParagraph= paragraphs|first ~ '</p>' %}
      {{ firstParagraph | raw }}
    </div>
  </div>
{% endfor %}
