{% import 'macros.twig' as scat %}
<div id="shipping-options">
  {% if cart.shipping_address_id != 1 and (cart.shipping_options|length > 1 or cart.shipping_options.default is not defined) %}
    <h3>Shipping Options</h3>

    {% if cart.shipping_manual %}
      <p>
        <b>The shipping charge for this order has been set manually.</b>
        Please contact us at the store if you have any questions.
      </p>
    {% elseif cart.shipping_options|length %}
      {% for method, details in cart.shipping_options %}
        {% if not no_local_delivery or method != 'local_delivery' %}
          <label class="input-radio">
            <input type="radio" id="so-{{ method }}"
                    {{ (cart.shipping_method == method) ? 'checked' }}
                    name="shipping_method" value="{{ method }}">
            <strong>
              {{ details.rate ? scat.amount(details.rate) : 'FREE' }}
            </strong>
            &mdash;
            {% if method == 'default' %}
              Standard shipping (estimated delivery {{ details.est_delivery_days ?? '3 to 5' }} day{{ details.est_delivery_days > 1 ? 's' }})
            {% elseif method == 'next_day' %}
              Next-day shipping
            {% elseif method == 'two_day' %}
              Two-day shipping
            {% elseif method == 'local_delivery' %}
              Same-day local delivery (Monday - Saturday, ordered before 4pm)
            {% endif %}
          </label>
        {% endif %}
      {% endfor %}
      <div class="help-block">
        Delivery time is how long it will take to arrive <b>after</b>
        it is shipped, which may take up to two business days (except
        for same-day local delivery).
        <div class="alert alert-danger">
          Please note that shipping times may be delayed after August 1 if UPS
          has not offered an acceptable contract to their workers and they strike.
          (We also use other carriers but a UPS strike is likely to impact all
          shipping.)
        </div>
      </div>
    {% else %}
      {% if cart.shipping_address_id %}
        <p class="text-danger">
          Sorry, we were not able to calculate the shipping cost for your
          order.
        </p>

        {% if cart.has_truck_only_items %}
          <p>
            There are items in the cart that can only be picked up
            at these store or delivered to addresses within 30 miles.
            Those are indicated with the {{ bootstrap_icon('truck') }}
            <span class="visually-hidden">Truck Only</span>
            indicator in the cart.
          </p>
        {% elseif cart.has_incomplete_items %}
          <p>
            There are items for which our system doesn't have enough
            info to calculate the shipping cost. Those are indicated
            with the {{ bootstrap_icon('patch-question', { class: 'text-danger' }) }}
            <span class="visually-hidden">Missing Info</span> indicator
            in the cart.
          </p>
        {% endif %}

        <p>
          If you'd like someone at the store to take a look at your
          cart and see if we can work out the shipping &amp; handling
          cost manually, click on the 'Get Help' button below and
          we'll get back to you!
        </p>

        <a href="/cart/get-help" class="button">
          {{ bootstrap_icon('question-circle') }}
          <span class="label">Get help</span>
        </a>
      {% else %}
        <p class="text-danger">
          You must provide a valid address for us to provide options
          for shipping.
        </p>
      {% endif %}
    {% endif %}
  {% elseif not cart.shipping_method %}
    <div class="alert alert-warning">
      Unable to determine any shipping methods.
    </div>
  {% endif %}

  {% if cart.shipping_options.default.service == 'ParcelSelect' %}
    <div class="alert alert-danger">
      <b>Your package will be sent with the USPS Parcel Select service.</b>
      This is a ground service that can be quite slow, but is our only option
      for packages with hazardous materials being sent outside the continental
      United States or to a PO Box.
    </div>
  {% endif %}
</div>
