{% if ad.link_type == 'product' %}
  {% set link= url_for('catalog', ad.product.url_params) %}
{% elseif ad.link_type == 'item' %}
  {% set link= url_for('catalog', ad.item.url_params) %}
{% else %}
  {% set link= ad.link_url %}
{% endif %}

{% set image= ad.image %}

{% if ad.tag == 'hero' %}
  <div class="hero">
    <div class="card hero__content">
      <h1>{{ ad.headline }}</h1>
      <p>{{ ad.caption }}</p>
      <a class="button" href="{{ link }}">{{ ad.button_label }}</a>
    </div>
    <img src="{{ image.at_size(282) }}" sizes="(max-width: 600px) 282px, 642px" srcset="{{ image.at_size(282) }} 282w, {{ image.at_size(642) }} 642w" alt="{{ image.alt_text ?: ad.headline }}" />
  </div>
{% elseif ad.tag == 'basic' %}
  <li class="card">
    <h3>{{ ad.headline }}</h3>
    <img src="{{ image.at_size(352) }}" alt="{{ image.alt_text ?: ad.headline }}">
    <p>{{ ad.caption }}</p>
    <a class="button" href="{{ link }}">{{ ad.button_label }}</a>
  </li>
{% else %}
  {{ ad | json_encode }}
{% endif %}
