{# Product details #}
<div class="row">
  <div class="col-sm-9">
    <div class="btn-group" role="group">
      <a class="btn btn-default"
         target="_blank"
         href="{{ PUBLIC_CATALOG ~ '/' ~ product.full_slug }}">
        <i class="fa fa-external-link"></i>
        View on Website
      </a>
    </div>
    <h2>
      {{ product.name }}
      <small>
        {% set brand = product.brand.find_one %}
        <a href="{{ path_for('catalog-brand', { 'brand' : brand.slug }) }}">
          {{ brand.name }}
        </a>
      </small>
    </h2>
    <div class="content">
      {{ product.description | replace({'{{ @STATIC }}' : STATIC}) | markdown }}
    </div>
  </div>
  <div class="col-sm-3">
    {% set media = product.media %}
    {% if media is empty and product.image %}
      <figure class="thumbnail is-square">
        <img src="{{ STATIC ~ product.image }}" style="max-width: 100%; max-height:100%; width: auto; height: auto; margin: auto">
      </figure>
    {% endif %}
    {% if media is not empty %}
      {{ include('carousel.twig', { images: product.media }) }}
    {% endif %}
  </div>
</div>
