{% for p in products %}
  {% set slug = path_for('catalog') ~ '/' ~ p.full_slug %}
  <div class="media">
    <figure class="media-left">
      <p class="image is-128x128">
        <a href="{{ slug }}">
          {% if p.image %}
            <img src="//rawmaterials.b-cdn.net{{ p.image }}" style="max-width: 100%; max-height:100%; width: auto; height: auto; margin: auto">
          {% endif %}
        </a>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <p class="title is-4">
            <a href="{{ slug }}">
              {{ p.name }}
            </a></p>
          {% set brand = p.brand.find_one %}
          <p class="subtitle is-6">
            <a href="{{ path_for('catalog-brand', { 'brand': brand.slug }) }}">
              {{ brand.name }}
            </a>
          </p>
          {# Just extract the first paragraph #}
          {% set paragraphs= p.description|markdown|split('</p>', 2) %}
          {% set firstParagraph= paragraphs|first ~ '</p>' %}
          {{ firstParagraph | raw }}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
