{% import 'macros.twig' as scat %}
{% import _self as s %}

{% macro begin_table() %}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <th>Item No.</th>
      <th>Description</th>
      <th>List</th>
      <th>Sale</th>
      <th>Stock</th>
      <th>Minimum</th>
    </thead>
    <tbody>
{% endmacro %}
{% macro end_table() %}
    </tbody>
  </table>
{% endmacro %}

{# A little convoluted because we chunk by variation sometimes #}

{% set last_variation= null %}

{% if not variations|length %}
  {{ s.begin_table() }}
{% endif %}

{% for i in items %}
  {% if variations|length and i.variation is not same as (last_variation) %}
    {% if last_variation %}
      {{ s.end_table() }}
    {% endif %}
    {% set last_variation = i.variation %}
    {% if i.variation %}
      <h2 class="title is-4">{{ i.variation }}</h2>
    {% endif %}
    {{ s.begin_table() }}
  {% endif %}
  <tr class="{{ (item and item.id == i.id) ? 'is-selected' }}">
    <td>
      <a href="{{ product ? product.slug ~ '/' ~ i.code : i.full_slug }}">{{ i.code }}</a>
      {# TODO get rid of this #}
      <a href="/item.php?id={{ i.id }}"><span class="icon is-small"><i data-feather="edit" width="1rem" height="1rem"></i></span></a>
    </td>
    <td>{{ variations|length ? (i.short_name ?: i.name) : i.name }}</td>
    <td>{{ scat.amount(i.retail_price) }}</td>
    <td>{{ scat.amount(i.sale_price) }}</td>
    <td>{{ i.stock }}</td>
    <td>{{ i.minimum_quantity }}</td>
  </tr>
{% endfor %}
{{ s.end_table() }}
