{# Product details #}
<div class="columns">
  <div class="column">
    <h1 class="title">
      {{ product.name }}
    </h1>
    <h2 class="subtitle">
      {% set brand = product.brand.find_one %}
      <a href="{{ path_for('catalog-brand', { 'brand' : brand.slug }) }}">
        {{ brand.name }}
      </a>
    </h2>
    <div class="content">
      {{ product.description | markdown }}
    </div>
  </div>
  <div class="column is-one-quarter">
    <figure class="image is-square">
      {% if product.image %}
        <img src="//rawmaterials.b-cdn.net{{ product.image }}" style="max-width: 100%; max-height:100%; width: auto; height: auto; margin: auto">
      {% endif %}
    </figure>
  </div>
</div>
