{% import 'macros.twig' as scat %}
{% import _self as s %}

{% macro begin_table() %}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <th>Item No.</th>
      <th>Description</th>
      <th class="has-text-centered">List</th>
      <th class="has-text-centered">Sale</th>
      <th class="has-text-centered">Stock</th>
      <th class="has-text-centered">Minimum</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
{% endmacro %}
{% macro end_table() %}
    </tbody>
  </table>
{% endmacro %}

{# A little convoluted because we chunk by variation sometimes #}

{% set last_variation= null %}

{% if not variations|length %}
  {{ s.begin_table() }}
{% endif %}

{% for i in items %}
  {% if variations|length and i.variation is not same as (last_variation) %}
    {% if last_variation %}
      {{ s.end_table() }}
    {% endif %}
    {% set last_variation = i.variation %}
    {% if i.variation %}
      <h2 class="title is-4">{{ i.variation }}</h2>
    {% endif %}
    {{ s.begin_table() }}
  {% endif %}
  <tr class="{{ (item and item.id == i.id) ? 'is-selected' }}">
    <td>
      <a href="{{ product ? product.slug ~ '/' ~ i.code : i.full_slug }}">{{ i.code }}</a>
    </td>
    <td>{{ variations|length ? (i.short_name ?: i.name) : i.name }}</td>
    <td class="has-text-right">{{ scat.amount(i.retail_price) }}</td>
    <td class="has-text-right">
      {{ scat.amount(i.sale_price) }}
      {% if i.discount_type in [ 'percentage', 'relative' ] %}
        <br>
        <span class="is-size-7">{{ scat.format_discount(i) }}</span>
      {% endif %}
    </td>
    <td class="has-text-centered">{{ i.stock }}</td>
    <td class="has-text-centered">{{ i.minimum_quantity }}</td>
    <td class="has-text-right">
      {% if i.prop65 %}
        <span class="icon is-small" title="WARNING: This product can expose you to chemicals which are known to the state of California to cause cancer and/or to cause birth defects or other reproductive harm."><img src="//rawmaterials.b-cdn.net/msds/warning.svg" width="20" alt="WARNING"></span>
      {% endif %}
      {% if i.hazmat %}
        <span class="icon is-small" title="Hazardous materials: special shipping is required, and there may be additional costs."><img src="//rawmaterials.b-cdn.net/msds/dot-limited-quantity-surface.svg" width="20" alt="Hazardous Materials"></span>
      {% endif %}
      {% if i.oversized %}
        <span class="icon is-small" title="Oversized item: special shipping is required, and there will be additional costs."><i data-feather="truck" width="1rem" height="1rem" ></i></span>
      {% endif %}
      {# TODO get rid of this #}
      <a href="/item.php?id={{ i.id }}"><span class="icon is-small"><i data-feather="edit" width="1rem" height="1rem"></i></span></a>
    </td>
  </tr>
{% endfor %}
{{ s.end_table() }}
