{% for p in products %}
  {% set slug = path_for('catalog') ~ '/' ~ p.full_slug %}
  <div class="media">
    <div class="media-left">
      <div class="thumbnail"
           style="border-color: rgba(0,0,0,0.4); background: white">
        <a href="{{ slug }}">
          {% set media = p.media %}
          {% if media is not empty %}
            <img class="media-object"
                 style="width:120px; max-width: 120px"
                 src="//rawmaterials.b-cdn.net{{ media[0].thumbnail }}"
                 alt="{{ media[0].alt_text }}">
          {% endif %}
        </a>
      </div>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="{{ slug }}">
          {{- p.name -}}
        </a>
        {% set brand = p.brand.find_one %}
        <small>
          <a href="{{ path_for('catalog-brand', { 'brand': brand.slug }) }}">
            {{- brand.name -}}
          </a>
        </small>
      </h4>
      {# Just extract the first paragraph #}
      {% set paragraphs= p.description|markdown|split('</p>', 2) %}
      {% set firstParagraph= paragraphs|first ~ '</p>' %}
      {{ firstParagraph | raw }}
    </div>
  </div>
{% endfor %}
