<aside class="menu">
  <a class="menu-label" href="{{ path_for('catalog') }}">
    Catalog
  </a>
  <ul class="menu-list">
  {% for d in depts %}
    <li>
      <a href="{{ path_for('catalog', { 'dept' : d.slug }) }}"
         class="{{ (dept and dept.id == d.id) ? 'is-active' }}">
        {{ d.name }}
      </a>  
      {% if dept and dept.id == d.id %}
        <ul class="menu-list">
          {% for s in subdepts %}
            <li>
              <a href="{{ path_for('catalog', { 'dept' : d.slug,
                                                'subdept' : s.slug }) }}"
                 class="{{ (subdept and subdept.id == s.id) ? 'is-active' }}">
                {{ s.name }}
              </a>
          {% endfor %}
        </ul>
      {% endif %}
  {% endfor %}
  </ul>
</aside>
