{# Product details #}
<div class="row">
  <div class="col-sm-9">
    <div class="btn-group" role="group">
      <a class="btn btn-default"
         target="_blank"
         href="{{ PUBLIC_CATALOG ~ '/' ~ product.full_slug }}">
        <i class="fa fa-external-link"></i>
        View on Website
      </a>
    </div>
    <h2>
      {{ product.name }}
      <small>
        {% set brand = product.brand.find_one %}
        <a href="{{ path_for('catalog-brand', { 'brand' : brand.slug }) }}">
          {{ brand.name }}
        </a>
      </small>
    </h2>
    <div class="content">
      {{ product.description | replace({'{{ @STATIC }}' : STATIC}) | markdown }}
    </div>
  </div>
  <div class="col-sm-3">
    <figure class="thumbnail is-square">
      {% set media = product.media %}
      {% if media is empty and product.image %}
        <img src="{{ STATIC ~ product.image }}" style="max-width: 100%; max-height:100%; width: auto; height: auto; margin: auto">
      {% endif %}
      {% if media is not empty %}
        <div id="carousel-product" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for item in product.media %}
              <li data-target="#carousel-product"
                  data-slide-to="{{ loop.index0 }}"
                  class="{{ loop.index0 == 0 ? 'active' }}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for item in product.media %}
              <div class="item {{ loop.index0 == 0 ? 'active' }}">
                <img class="center-block"
                     src="{{ STATIC ~ item.thumbnail }}"
                     alt="{{ item.alt_text }}">
              </div>
            {% endfor %}
          </div>
          <a class="left carousel-control" href="#carousel-product"
             role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-product"
             role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      {% endif %}
    </figure>
  </div>
</div>
